*.swp/
secrets/
out/
*.o
*.d
chatroom_exec
objs/
check_global_envs.env
node_modules/
package-lock.json
*.d.ts
*.js.map
*.d.ts.map
**/dist/
*.tsbuildinfo
!/**/reactproto/**/*.js
build_frontend
srcs/.env
srcs/globals.env
srcs/elk/elasticsearch/config/service_tokens